<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065368147573-9hnk4kr5642c7s848jneb8qvr3msn58f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065368147573-9hnk4kr5642c7s848jneb8qvr3msn58f</string>
	<key>API_KEY</key>
	<string>AIzaSyAeeHnPS_YVH1FM9ecC_e3sZ3Mngj03bUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1065368147573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zapzapp.zapz</string>
	<key>PROJECT_ID</key>
	<string>zapz-7f7e8</string>
	<key>STORAGE_BUCKET</key>
	<string>zapz-7f7e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065368147573:ios:32cbfbd5d9714ea11d4a3c</string>
	<key>DATABASE_URL</key>
	<string>https://zapz-7f7e8.firebaseio.com</string>
</dict>
</plist>